    <!-- nav bar-->
    <div class="navbar">
       <div class="logo hover-text">
           <span class="material-symbols-outlined nav-icon">forest</span>
           <p class="logo-name">Bit Trail</p>
       </div>
       <nav class="navbar-links">
            <ul class="nav-options">
                <li class="hover-text">
                    Explore
                </li>
                <li class="hover-text">
                    Post
                </li>
                <li class="hover-text">
                    Login
                </li>
            </ul>
       </nav> 
    </div>