    <!-- nav bar-->
<div class="navbar">
    <div class="logo hover-text">
      <span class="material-symbols-outlined nav-icon">forest</span>
      <a href="/" class="logo-name">Bit Trail</a>
    </div>
    <nav class="navbar-links">
      <ul class="nav-options">
        <li class="hover-text">
          Explore
        </li>
        {{#if loggedIn}}
          <li href="/create-trails">Dashboard</li>
          <li id="logout" class="hover-text">Logout</li>
        {{else}}
        <li class="hover-text">
          <a href="/login">Login</a>
        </li>
        {{/if}}
      </ul>
    </nav>
  </div>

{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}