    <!-- nav bar-->
<div class="navbar">
    <div class="logo hover-text">
      <span class="material-symbols-outlined nav-icon">forest</span>
      <a href="/" class="logo-name">Bit Trail</a>
    </div>
    <nav class="navbar-links">
      <ul class="nav-options">
        <a href="/"><li class="hover-text">Explore</li></a>
        {{#if loggedIn}}
          <a href="/create-trails"><li class="hover-text">Dashboard</li></a>
          <li id="logout" class="hover-text">Logout</li>
        {{else}}
          <a href="/login"><li class="hover-text">Login</li></a>
        {{/if}}
      </ul>
    </nav>
  </div>

{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}