<section>
  <div class="hero-image">
  

  <div class="container">
    <div class="row">
      <div class="d-flex justify-content-around">
        <div class="col-10 user-info-holder">
          <h1 class="welcome" id="welcome">Welcome {{ userName }}!<h1></h1>
          <div class="info-holder">
            <h4>About Bit Trail:</h4>
            <h5 class="info-section">Bit trail is all about sharing, sharing trails that is! We want you to be able to share all your favorite hikes with the world, and maybe at the same time you'll find a new favorite.</h5>
          </div>
          <div class="background col-12"></div>
        </div>
      </div>
    </div> 
  </div>

</div>
</section>


<section>
  {{#if trail.length}}
  <h2 class="your-trails-title">Your Trails:</h2>
  <div class="container">
    <div class="row">
      {{#each trail as |trail|}}
      {{#> trail-info trail}}
      {{/trail-info}}
      {{/each}}
    </div>
    {{/if}}
    <div class="row justify-content-around">
      <div class="col-6 post-new-trail">
        <h4 class="post-button-text">Post New Trail:</h4>
        {{> add-new-trail }}
      </div>
    </div>
  </div> 
</section>


<script src="/javaScript/dashboard.js"></script>