<section>
  <div class="hero-image">
  

  <div class="container">
    <div class="row">
      <div class="d-flex justify-content-around">
        <div class="col-10 user-info-holder">
          <h1 class="welcome" id="welcome">Welcome to Bit Trail!</h1>
          <div class="info-holder">
            <h4 class="info-section">Bit Trail is an online community for outdoor adventurers to share trails! While you get to share your experiences from some of your favorite hikes around the world, you'll find yourself a new favorite hike you'd like to take on.</h4>
          </div>
          <div class="background col-12"></div>
        </div>
      </div>
    </div> 
  </div>

</div>
</section>

<div class="container">
  <div class="row" id="post-holder">
  </div>
</div>

<script src="/javaScript/post-generation.js"></script>