{{> trail-info trail}}

<div class="col-6">
    {{!-- Generate reviews --}}
    {{> Review trail.review}}
</div>

<script src="/javascript/single-trail"></script>
<script src="/javascript/leave-review"></script>