{{> trail-info trail}}

<div class="col-6">
    {{!-- Generate reviews --}}
    {{> Review trail.review}}
</div>

<script src="/javaScript/single-trail.js"></script>
<script src="/javaScript/leave-review.js"></script>