:root {
    --white: #FFFFFF;
    --accent-color: rgba(50, 145, 50, 0.7);
    --grey: #C2C2C2;
    --dark-text: rgb(29, 29, 29);
    --black: #000000;
    
}

.login-page {
    margin-top: 5vh;
    border: 5px solid var(--accent-color);
    box-shadow: 3px 3px var(--dark-text);
    padding: 3vh 3vw;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/DSC_6069.jpg) center center;
    background-size: cover;
    position: relative;
    color: white;
}

.login-holder {
    display: flex;
    flex-direction: column;
    border: 5px solid var(--accent-color);
    box-shadow: 3px 3px var(--dark-text);
    padding: 2vh;
    margin-top: 3vh;
    color: white;
    background-color: grey;
    
}

.login-header {
    text-align: center;
    border-bottom: 5px solid var(--dark-text);
}

.login-info {
    margin-top: 3vh;
}

label {
    color: white;
    min-width: 6.5vw;
}

.login-button-holder {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.login-button {
    background-color: var(--accent-color);
    border: 3px solid black;
    color: black;
    font-weight: bold;
    padding: 3px 5px;
}

.login-button:hover {
    box-shadow: 2px 2px var(--dark-text);
}

.login-info-line {
    margin-top: 2vh;
}

.login-card-header {
    text-align: center;
}