:root {
    --white: #FFFFFF;
    --accent-color: rgba(50, 145, 50, 0.7);
    --grey: #C2C2C2;
    --dark-text: rgb(29, 29, 29);
    --black: #000000;
}

.holder {
    width: 95vw;
    height: 30vh;
    border: 0 0 5px 5px solid var(--accent-color);
}